<h2>Számlák</h2>
<h4>Adjon hozzá számlát a bal oldalon, majd jobb oldalon kiválasztva egészítse ki adatokkal azt.</h4>
<div>
	<div id="baloldal">
		<label
    >Név:<br>
    <input #szamlaNev />
  </label><br>

		<!-- (click) passes input value to add() and then clears the input -->
		<button (click)="add(szamlaNev.value); szamlaNev.value=''">
    hozzáadás
  </button>
		<button (click)="szamlaNev.value=''">
    alaphelyzetbe
  </button>
	</div>
	<div id="jobboldal">
		<ul class="szamlak">
			<li *ngFor="let szamla of szamlak">
				<a routerLink="/detail/{{szamla.id}}">
					<span class="badge">{{szamla.id}}</span> {{szamla.nev}}
				</a>
				<button class="delete" title="delete szamla" (click)="delete(szamla)">
      x
    </button>
			</li>
		</ul>
	</div>
</div>





<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->