<div *ngIf="szamla">
	<h2>{{szamla.nev | uppercase}} részletező</h2>
	<div><span>Számla azonosítója: </span>{{szamla.id}}</div>
	<div>
		<label
      >Név:<br>
      <input [(ngModel)]="szamla.nev" placeholder="nev" />
    </label><br>
		<label
      >Névérték:<br>
      <input [(ngModel)]="szamla.nevertek" placeholder="nevertek" />
    </label><br>
		<label
      >Pénznem:<br>
      <input [(ngModel)]="szamla.penznem" placeholder="penznem" />
    </label><br>
		<label
      >Statusz:<br>
      <input [(ngModel)]="szamla.statusz" placeholder="statusz" />
    </label><br>
	</div>
		<button (click)="goBack()">go back</button>
		<button (click)="save()">save</button>
	</div>

	<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->